<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр профиля</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Активация почтового адреса</h1>
<div>
    <a href="/">
        <button>Вернуться на главную</button>
    </a>
</div>
<div class="activationResult">
    <div th:if="${success}">
        <h2>Активация email успешна.</h2>
    </div>
    <div th:unless="${success}">
        <h2>Активация email не удалась.</h2>
        <p>Ссылка могла устареть, либо адрес уже подтвержден.</p>
    </div>
</div>
</body>
</html>
