<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр профиля</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Профиль пользователя</h1>
<div>
    <a href="/">
        <button>Вернуться на главную</button>
    </a>
</div>
<div class="profileView">
    <div th:if="${email != null && !email.isEmpty()}">
        <p>Почта: <span th:text="${email}"/></p>
        <div th:if="${emailConfirmed}" style="color:green">Подтверждена</div>
        <div th:unless="${emailConfirmed}">
            Не подтверждена. <a href="/profile/resendConfirmationCode">Отправить код подтверждения повторно.</a>
        </div>
    </div>

    <div>
        <form method="post" action="/profile/updateEmail">
            <p>
                <label>Почта: </label>
                <input name="email" th:value="${email}">
            </p>
            <button>Изменить</button>
        </form>
    </div>

</div>
</body>
</html>
