<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Заказ № <span th:text="${requestId + ' от ' + requestCreateDate}"/></h1>
<p>
    Готов к выдаче, посетите наш сервисный центр в удобное время для получения вашего заказа.
</p>
</body>
</html>